* { 
    margin: 0; /* Remove all margins from all elements */
    padding: 0; /* Remove all paddings from all elements */
    font-family: 'Poppins', sans-serif; /* Set the font family to 'Poppins' or fallback to a sans-serif font if 'Poppins' is not available */
    box-sizing: border-box; /* Use the border-box box-sizing model for all elements. This includes padding and border within the element's total width and height. */
}
html {
    scroll-behavior: smooth; /* Enable smooth scrolling behavior for the entire HTML document */
}
/* This property can be used to enhance the user experience when navigating within the page.*/
body{ /*CSS selector that targets the <body> element in an HTML document. */
    background: #000000; /* Set Background colour to black*/
    color: #fff; /* Set text colour to white*/
}
#header { /* id ko # se access krte hain*/
    width: 100%; /* Set the width of the header to 100% of its parent's width */
    height: 100vh; /* Set the height of the header to 100% of the viewport's height. The header will occupy the full vertical height of the user's screen, regardless of the device or screen size. */
    background-image: url(images/background.png); /* Set the background image of the header. The URL points to the image file "background.png" in the "images" folder relative to the CSS file. */
    background-size: cover; /* Scale the background image to cover the entire header. The image will be resized to fill the header while maintaining its aspect ratio, even if it means cropping parts of the image. */
    background-position: center; /* Position the background image at the center of the header both horizontally and vertically. */
     /* Keep the background image fixed in place even when the user scrolls down the page. This creates a parallax effect, where the content of the header scrolls over the fixed background image, giving a sense of depth and interactivity. */
}
.container{ /*class attribute hai ye, "." se access krte*/
    padding: 10px 10%; /*10 px space from top and bottom and 10% from left side and right side*/
}
nav{ /*ye toh simply nav tab ko access kar rhe hain*/
    /*TO UNDERSTAND FLEX WATCH THIS https://youtu.be/phWxA89Dy94*/
    display: flex; /*so that the image and links will be side by side*/
    /*flex-direction is set by default to row*/
    align-items: right; /*right aligning the items*/
    justify-content: space-between; /*flex-end likhenge toh end mein chale jayenge, centre se centre and space between se evenly pure m distribbute ho jayenge, space around and space evenly bhi hota h*/
}
.logo{ /*Here we are accessing our class with . */
    width: 140px; /*setting it's width to 140px*/
}
/* Styling the list items (li) inside the navigation (nav) */
nav ul li {
    display: inline-block; /* Display the list items in a row (horizontally aligned) */
    list-style: none; /* Remove the default list-style (bullet points) from the list items */
    margin: 10px 20px; /* Add a margin of 10px at the top and bottom and 20px at the left and right of each list item */
}
/* Styling the links (a) inside the list items (li) within the navigation (nav) */
nav ul li a {
    color: #fff; /* Set the text color of the links to white */
    text-decoration: none; /* Remove the underline from the links */
    font-size: 18px; /* Set the font size of the links to 18 pixels */
    /*position: relative;  Set the positioning context for the links */
    /*TO UNDERSTAND RELATIVE/ABSOLUTE POSITION: https://youtube.com/shorts/jyi8s_AyxKA?feature=share*/
}
/* Styles for the elements with the class 'header-text' */
.header-text {
    margin-top: 20%; /* Adds a top margin of 20% of the parent element's height to the text */
    font-size: 30px; /* Sets the font size of the text to 30 pixels */
}
/* Styles for the 'h1' element inside elements with the class 'header-text' */
.header-text h1 {
    font-size: 60px; /* Sets the font size of the 'h1' text to 60 pixels */
    margin-top: 20px; /* Adds a top margin of 20 pixels to the 'h1' element */
}

/* Styles for the 'span' element inside 'h1' elements within elements with the class 'header-text' */
.header-text h1 span {
    color: hsl(111, 100%, 50%); /* Sets the text color of the 'span' element to a shade of purple (#580fa7) */
}

/* -----------about--------------- */
#about{
    padding: 80px 0; /*80px from top and bottom, 0 from left and right*/
    color: #ababab; /*Text ka colour set kar diya*/
}
.row{ /*TO understand flex: https://youtu.be/phWxA89Dy94*/
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%; /*it means width of the column will be 35%*/
}
/* Styles for images inside elements with class 'about-col-1' */
.about-col-1 img {
    width: 100%; /* Set the image width to 100% of its container */
    border-radius: 15px; /* Add a rounded border to the image!!SAMZO */
}

/* Styles for elements with class 'about-col-2' */
.about-col-2 {
    flex-basis: 60%; /* Set the flex-basis to 60% to control the width of flex items within their flex container */
}

/* Styles for elements with class 'sub-title' */
.sub-title {
    font-size: 60px; /* Set the font size to 60 pixels for sub-titles */
    font-weight: 600; /* Set the font weight to 600 (bold) for sub-titles */
    color: #fff; /* Set the text color to white for sub-titles */
}

/* Styles for elements with class 'tab-titles' */
.tab-titles {
    display: flex; /* Create a flex container to display tab titles in a row */
    margin: 20px 0 40px; /* Set top and bottom margin of 20px and 40px respectively, and no left or right margin */
}

/* Styles for elements with class 'tab-links' */
.tab-links {
    margin-right: 50px; /* Set right margin of 50px for tab links */
    font-size: 18px; /* Set the font size to 18 pixels for tab links */
    font-weight: 500; /* Set the font weight to 500 (medium) for tab links */
    cursor: pointer; /* Change the cursor to a pointer when hovering over tab links */
    position: relative; /* Set the position to relative for tab links */
}

/* Styles for pseudo-elements (::after) of elements with class 'tab-links' */
.tab-links::after {
    content: ''; /* Adding content to the pseudo-element (in this case, a horizontal line) */
    width: 0; /* Set the initial width of the pseudo-element to 0 (it will be animated to reveal) */
    height: 3px; /* Set the height of the pseudo-element (the horizontal line) to 3 pixels */
    background: hsl(111, 100%, 50%); /* Set the background color of the pseudo-element (the horizontal line) to #580fa7 */
    position: absolute; /* Position the pseudo-element absolutely within the tab link */
    left: 0; /* Position the left edge of the pseudo-element at the left edge of the tab link */
    bottom: -8px; /* Position the bottom edge of the pseudo-element 8 pixels above the bottom of the tab link */
    transition: 0.5s; /* Add a smooth transition effect with a duration of 0.5 seconds when the pseudo-element changes size or position */
}
/* Styles for elements with class 'active-link' inside elements with class 'tab-links' */
.tab-links.active-link::after {
    width: 100%; /* Set the width of the pseudo-element to 50% when the link has the class 'active-link' (e.g., when it is active) */
}
/* Styles for list items inside elements with class 'tab-contents' */
.tab-contents ul li {
    list-style: none; /* Remove the default list style (bullet points) from list items inside tab contents */
    margin: 10px 0; /* Set the top and bottom margin of list items to 10px and no left or right margin */
}
/* Styles for 'span' elements inside list items within elements with class 'tab-contents' */
.tab-contents ul li span {
    color: hsl(111, 100%, 50%); /* Set the text color of 'span' elements inside tab contents to #580fa7 */
    font-size: 14px; /* Set the font size to 14 pixels for 'span' elements inside tab contents */
}
/* Styles for elements with class 'tab-contents' */
.tab-contents {
    display: none; /* Hide tab contents by default */
}
/* Styles for elements with class 'active-tab' inside elements with class 'tab-contents' */
.tab-contents.active-tab {
    display: block; /* Display the tab content block when it has the class 'active-tab' (e.g., when it is active) */
}
/* ----------------services------------- */
/* Styling for the element with the ID 'services' */
#services {
    padding: 30px 0; /* Adds 30 pixels of padding at the top and bottom of the 'services' element */
}
/* Styling for elements with class 'services-list' */
.services-list { /*SAMAJHNA HAI*/
    display: grid; /* Creates a grid layout for the elements with class 'services-list' */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Sets the columns in the grid to automatically fit the available width, with a minimum width of 250 pixels and a maximum width of 1 fraction of the available space */
    grid-gap: 40px; /* Adds a gap of 40 pixels between grid items */
    margin-top: 50px; /* Adds 50 pixels of top margin to the 'services-list' element */
}
/* Styling for 'div' elements inside elements with class 'services-list' */
.services-list div {
    background: #262626; /* Sets the background color of 'div' elements to a dark gray (#262626) */
    padding: 40px; /* Adds 40 pixels of padding inside each 'div' element */
    font-size: 13px; /* Sets the font size of the text inside 'div' elements to 13 pixels */
    font-weight: 300; /* Sets the font weight of the text inside 'div' elements to 300 (lighter than normal) */
    border-radius: 10px; /* Adds a border-radius of 10 pixels to create rounded corners for 'div' elements */
    transition: 0.5s; /* Adds a smooth transition effect with a duration of 0.5 seconds for changes in background color and transform properties */
}
/* Styling for 'i' elements inside 'div' elements within elements with class 'services-list' */
.services-list div i {
    font-size: 50px; /* Sets the font size of 'i' elements to 50 pixels */
    margin-bottom: 30px; /* Adds 30 pixels of margin at the bottom of 'i' elements to create spacing between the icon and the text */
}
/* Styling for 'h2' elements inside 'div' elements within elements with class 'services-list' */
.services-list div h2 {
    font-size: 30px; /* Sets the font size of 'h2' elements to 30 pixels */
    font-weight: 500; /* Sets the font weight of 'h2' elements to 500 (medium) */
    margin-bottom: 15px; /* Adds 15 pixels of margin at the bottom of 'h2' elements */
}
/* Styling for 'a' elements inside 'div' elements within elements with class 'services-list' */
.services-list div a {
    text-decoration: none; /* Removes the underline from 'a' (anchor) elements */
    color: #fff; /* Sets the text color of 'a' elements to white (#fff) */
    font-size: 12px; /* Sets the font size of 'a' elements to 12 pixels */
    margin-top: 20px; /* Adds 20 pixels of margin at the top of 'a' elements */
    display: inline-block; /* Sets 'a' elements to be displayed as inline-block, allowing them to have width and height properties */
}
/* Hover effect for 'div' elements inside elements with class 'services-list' */
.services-list div:hover {
    background: hsl(111, 100%, 50%); /* Changes the background color to a shade of purple (#580fa7) on hover */
    transform: translateY(-24px); /* Translates the 'div' element 10 pixels upward (in the Y-axis) on hover to create a lifting effect */
}
/* -------portfolio----------- */
/* Styling for the element with the ID 'portfolio' */
#portfolio {
    padding: 50px 0; /* Adds 50 pixels of padding at the top and bottom of the 'portfolio' element */
}
/* Styling for elements with class 'work-list' */
.work-list {
    display: grid; /* Creates a grid layout for the elements with class 'work-list' */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Sets the columns in the grid to automatically fit the available width, with a minimum width of 250 pixels and a maximum width of 1 fraction of the available space */
    grid-gap: 40px; /* Adds a gap of 40 pixels between grid items */
    margin-top: 50px; /* Adds 50 pixels of top margin to the 'work-list' element */
}
/* Styling for elements with class 'work' */
.work {
    border-radius: 10px; /* Adds a border-radius of 10 pixels to create rounded corners for elements with class 'work' */
    position: relative; /* Sets the position of elements with class 'work' to relative */
    overflow: hidden; /* Clips any overflowing content within elements with class 'work' */
}
/* Styling for images inside elements with class 'work' */
.work img {
    width: 100%; /* Sets the image width to 100% of its container */
    border-radius: 10px; /* Adds a border-radius of 10 pixels to create rounded corners for the image */
    display: block; /* Sets the image to be displayed as a block element */
    transition: transform 0.5s; /* Adds a smooth transition effect with a duration of 0.5 seconds for the transform property */
}
/* Styles for elements with class 'layer' */
.layer {
    width: 100%; /* Sets the width to 100% of its parent container */
    height: 0; /* Sets the initial height to 0 */
    background: linear-gradient(rgba(0,0,0,0.6), hsl(212, 100%, 50%)); /* Adds a linear gradient background from semi-transparent black to a shade of purple (#580fa7) */
    border-radius: 10px; /* Adds a border-radius of 10 pixels to create rounded corners */
    position: absolute; /* Positions the element absolutely */
    left: 0; /* Aligns the element to the left of its container */
    bottom: 0; /* Aligns the element to the bottom of its container */
    overflow: hidden; /* Hides any overflowing content within the element */
    display: flex; /* Creates a flex container */
    align-items: center; /* Aligns the content vertically at the center */
    justify-content: center; /* Aligns the content horizontally at the center */
    flex-direction: column; /* Sets the flex direction to column */
    padding: 0 40px; /* Adds 40 pixels of horizontal padding */
    text-align: center; /* Aligns the text at the center */
    font-size: 14px; /* Sets the font size to 14 pixels */
    transition: height 0.5s; /* Adds a smooth transition effect with a duration of 0.5 seconds for changes in height */
}
/* Styles for 'h3' elements inside elements with class 'layer' */
.layer h3 {
    font-weight: 5000; /* Sets the font weight to 500 (medium) for 'h3' elements */
    margin-bottom: 20px; /* Adds 20 pixels of margin at the bottom of 'h3' elements */
}
/* Styles for 'a' elements inside elements with class 'layer' */
.layer a {
    margin-top: 20px; /* Adds 20 pixels of margin at the top of 'a' elements */
    color: hsl(0, 0%, 0%); /* Sets the text color of 'a' elements to a shade of purple (#580fa7) */
    text-decoration: none; /* Removes the underline from 'a' elements */
    font-size: 18px; /* Sets the font size of 'a' elements to 18 pixels */
    line-height: 60px; /* Sets the line height of 'a' elements to 60 pixels */
    background: #fff; /* Sets the background color of 'a' elements to white (#fff) */
    width: 60px; /* Sets the width of 'a' elements to 60 pixels */
    height: 60px; /* Sets the height of 'a' elements to 60 pixels */
    border-radius: 50%; /* Adds a border-radius of 50% to create circular buttons */
    text-align: center; /* Aligns the text at the center within 'a' elements */
}
/* Hover effect for 'img' elements inside elements with class 'work' */
.work:hover img {
    transform: translateY(-10px); /* Scales up the image by 10% on hover */
}
/* Hover effect for elements with class 'layer' inside elements with class 'work' */
.work:hover .layer {
    height: 100%; /* Sets the height of the 'layer' element to 100% on hover, revealing its content */
}
/* Styles for elements with class 'btn' */
.btn {
    display: block; /* Sets the element to be displayed as a block */
    margin: 50px auto; /* Adds 50 pixels of top and bottom margin and centers the element horizontally */
    width: fit-content; /* Sets the width of the element to fit its content */
    border: 1px solid #26ff00; /* Adds a 1-pixel solid border with a shade of purple (#580fa7) color */
    padding: 14px 50px; /* Adds 14 pixels of padding at the top and bottom and 50 pixels of padding at the left and right */
    border-radius: 6px; /* Adds a border-radius of 6 pixels to create rounded corners */
    text-decoration: none; /* Removes the underline from the element */
    color: #fff; /* Sets the text color to white */
    transition: 0.5s; /* Adds a smooth transition effect with a duration of 0.5 seconds for changes in background color */
}
.btn:hover {
    background: hsl(111, 100%, 50%); /* Changes the background color to a shade of purple (#580fa7) on hover */
}
/* Styles for elements with class 'contact-left' */
.contact-left {
    flex-basis: 35%; /* Sets the flex basis to 35% for elements with class 'contact-left' */
}
/* Styles for elements with class 'contact-right' */
.contact-right {
    flex-basis: 60%; /* Sets the flex basis to 60% for elements with class 'contact-right' */
}
/* Styles for 'p' elements inside elements with class 'contact-left' */
.contact-left p {
    margin-top: 30px; /* Adds 30 pixels of top*/
}
/* Styles for the 'i' element within 'p' elements inside elements with class 'contact-left' */
.contact-left p i {
    color: hsl(208, 79%, 50%); /* Sets the color of 'i' elements inside 'p' elements inside elements with class 'contact-left' to a shade of purple (#580fa7) */
    margin-right: 15px; /* Adds 15 pixels of right margin for 'i' elements inside 'p' elements inside elements with class 'contact-left' */
    font-size: 25px; /* Sets the font size of 'i' elements inside 'p' elements inside elements with class 'contact-left' to 25 pixels */
}
/* Styles for elements with class 'social-icons' */
.social-icons {
    margin-top: 30px; /* Adds 30 pixels of top margin for elements with class 'social-icons' */
}
/* Styles for 'a' elements inside elements with class 'social-icons' */
.social-icons a {
    text-decoration: none; /* Removes the underline from 'a' elements inside elements with class 'social-icons' */
    font-size: 30px; /* Sets the font size of 'a' elements inside elements with class 'social-icons' to 30 pixels */
    margin-right: 15px; /* Adds 15 pixels of right margin for 'a' elements inside elements with class 'social-icons' */
    color: #ababab; /* Sets the text color of 'a' elements inside elements with class 'social-icons' to a shade of gray (#ababab) */
    display: inline-block; /* Sets 'a' elements inside elements with class 'social-icons' to be displayed as inline-block */
    transition: transform 0.5s; /* Adds a smooth transition effect with a duration of 0.5 seconds for changes in transform properties */
}
/* Hover effect for 'a' elements inside elements with class 'social-icons' */
.social-icons a:hover {
    color: hsl(208, 79%, 50%); /* Changes the text color of 'a' elements inside elements with class 'social-icons' to a shade of purple (#580fa7) on hover */
    transform: translateY(-5px); /* Translates 'a' elements inside elements with class 'social-icons' 5 pixels upward on hover to create a lifting effect */
}
/* Styles for elements with class 'btn' and 'btn2' */
.btn.btn2 {
    display: inline-block; /* Sets elements with class 'btn' and 'btn2' to be displayed as inline-block */
    background: hsl(111, 100%, 50%); /* Sets the background color of elements with class 'btn' and 'btn2' to a shade of purple (#580fa7) */
}
/* Styles for 'form' elements within elements with class 'contact-right' */
.contact-right form {
    width: 100%; /* Sets the width of 'form' elements inside elements with class 'contact-right' to 100% */
}
/* Styles for 'input' and 'textarea' elements within 'form' elements */
form input, form textarea {
    width: 100%; /* Sets the width of 'input' and 'textarea' elements inside 'form' elements to 100% */
    border: 0; /* Removes the border from 'input' and 'textarea' elements inside 'form' elements */
    outline: none; /* Removes the outline on focus from 'input' and 'textarea' elements inside 'form' elements */
    background: #262626; /* Sets the background color of 'input' and 'textarea' elements inside 'form' elements to a dark gray (#262626) */
    padding: 15px; /* Adds 15 pixels of padding inside 'input' and 'textarea' elements inside 'form' elements */
    margin: 15px 0; /* Adds 15 pixels of margin at the top and bottom of 'input' and 'textarea' elements inside 'form' elements */
    color: #fff; /* Sets the text color of 'input' and 'textarea' elements inside 'form' elements to white (#fff) */
    font-size: 18px; /* Sets the font size of 'input' and 'textarea' elements inside 'form' elements to 18 pixels */
    border-radius: 6px; /* Adds a border-radius of 6 pixels to create rounded corners for 'input' and 'textarea' elements inside 'form' elements */
}
/* Styles for 'btn2' elements inside 'form' elements */
form .btn2 {
    padding: 14px 60px; /* Adds 14 pixels of padding at the top and bottom and 60 pixels of padding at the left and right of 'btn2' elements inside 'form' elements */
    font-size: 18px; /* Sets the font size of 'btn2' elements inside 'form' elements to 18 pixels */
    margin-top: 20px; /* Adds 20 pixels of margin at the top of 'btn2' elements inside 'form' elements */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over 'btn2' elements inside 'form' elements */
}
/* Styles for elements with class 'copyright' */
.copyright {
    width: 100%; /* Sets the width of elements with class 'copyright' to 100% */
    text-align: center; /* Aligns the text at the center for elements with class 'copyright' */
    padding: 25px 0; /* Adds 25 pixels of padding at the top and bottom of elements with class 'copyright' */
    background: #262626; /* Sets the background color of elements with class 'copyright' to a dark gray (#262626) */
    font-weight: 300; /* Sets the font weight of elements with class 'copyright' to 300 (light) */
    margin-top: 20px; /* Adds 20 pixels of top margin for elements with class 'copyright' */
}
.copyright i{
    color: hsl(0, 87%, 42%);
}
/* Media queries allow us to apply different styles to our website based on the screen size,
 ensuring a responsive design that adapts to various devices.
Media query for screens with a maximum width of 600 pixels (mobile devices) */
@media only screen and (max-width: 600px) {

    /* Styles for the element with ID 'header' within the media query */
    #header {
        background-image: url(images/phone-background.png); /* Changes the background image for 'header' when the screen width is less than or equal to 600 pixels */
    }

    /* Styles for elements with class 'header-text' within the media query */
    .header-text {
        margin-top: 100%; /* Sets the top margin to 100% for 'header-text' elements */
        font-size: 16px; /* Sets the font size to 16 pixels for 'header-text' elements */
    }

    /* Styles for 'h1' elements within elements with class 'header-text' within the media query */
    .header-text h1 {
        font-size: 30px; /* Sets the font size to 30 pixels for 'h1' elements inside 'header-text' elements */
    }

    /* Styles for the font awesome icons within 'nav' elements within the media query */
    nav .fas {
        display: block; /* Displays the font awesome icons inside 'nav' elements within the media query */
        font-size: 25px; /* Sets the font size to 25 pixels for the font awesome icons inside 'nav' elements */
    }

    nav ul li {
        display: block; /* Sets list items inside unordered lists inside 'nav' elements to display as blocks */
        margin: 25px; /* Adds 25 pixels of margin around list items inside unordered lists inside 'nav' elements */
    }

    /* Styles for the font awesome icons within list items inside unordered lists inside 'nav' elements within the media query */
    nav ul .fas {
        position: absolute; /* Sets the position of the font awesome icons inside list items inside unordered lists inside 'nav' elements to absolute */
        top: 25px; /* Aligns the top of the font awesome icons inside list items inside unordered lists inside 'nav' elements to 25 pixels from the top */
        left: 25px; /* Aligns the left of the font awesome icons inside list items inside unordered lists inside 'nav' elements to 25 pixels from the left */
        cursor: pointer; /* Changes the cursor to a pointer when hovering over the font awesome icons inside list items inside unordered lists inside 'nav' elements */
    }

    /* Styles for elements with class 'sub-title' within the media query */
    .sub-title {
        font-size: 40px; /* Sets the font size to 40 pixels for elements with class 'sub-title' within the media query */
    }

    /* Styles for elements with class 'about-col-1' and 'about-col-2' within the media query */
    .about-col-1, .about-col-2 {
        flex-basis: 100%; /* Sets the flex basis to 100% for elements with class 'about-col-1' and 'about-col-2' within the media query */
    }

    /* Styles for elements with class 'about-col-1' within the media query */
    .about-col-1 {
        margin-bottom: 30px; /* Adds 30 pixels of margin at the bottom for elements with class 'about-col-1' within the media query */
    }

    /* Styles for elements with class 'about-col-2' within the media query */
    .about-col-2 {
        font-size: 14px; /* Sets the font size to 14 pixels for elements with class 'about-col-2' within the media query */
    }

    /* Styles for 'tab-links' elements within the media query */
    .tab-links {
        font-size: 16px; /* Sets the font size to 16 pixels for 'tab-links' elements within the media query */
        margin-right: 20px; /* Adds 20 pixels of right margin for 'tab-links' elements within the media query */
    }

    /* Styles for elements with class 'contact-left' and 'contact-right' within the media query */
    .contact-left, .contact-right {
        flex-basis: 100%; /* Sets the flex basis to 100% for elements with class 'contact-left' and 'contact-right' within the media query */
    }
    .copyright{
        font-size: 14px;
    }
}